.info, #err, #src_box, .src {
    font-size: 1em;
}

.info, #err, .sbox {
    border: 1px solid gray;
}

.info, #err {
    padding: 8px;
}

.info {
    background-color: #f0fff0;
}

#err {
    background-color: #fff0f0;
}

#src_box, .src {
    width: 99%;
}

#src_box {
    background-color: #fffff0;
}

.src {
    background-color: #f0f0f0;
}

.sbox {
    border-bottom: 1px solid silver;
    margin: 8px;
}
