h1, button {
  background-color: silver;
  font-size: 1.3em;
}

h1, h3, .sbox h4, .edit_head, .buttons, #info {
  margin: 0;
}

h1, h3, #info {
  padding: 0.5em;
}

h1 {
  color: black;
}

h3, .info, .err, #src_box, .src {
  font-size: 1em;
}

h3 {
  background-color: #e0e0e0;
  border-bottom: 1px solid gray;
}

.sbox h4 {
  font-size: 0.9em;
  padding: 4px;
}

button {
  width: 5em;
  padding: 0.4em;
  cursor: pointer;
}

.turtle_canvas {
  border: 1px solid silver;
}

.turtle_box, .buttons {
  text-align: center;
}

.edit_head, .buttons {
  padding: 0.3em;
}

.edit_head {
  font-size: 0.8em;
  color: gray;
}

.edit_div {
  margin: 0.5em;
  padding: 0;
}

.info, .err, #src_box, .src {
  line-height: 1.5em;
}

.info, .err {
  border: 1px solid gray;
  padding: 8px;
}

.info {
  background-color: #f0fff0;
}

.err {
  background-color: #fff0f0;
  display: none;
}

#src_box, .src {
  width: 99%;
}

#src_box {
  background-color: #fffff0;
}

.src {
  background-color: #f0f0f0;
}

.sbox {
  border-bottom: 1px solid silver;
  margin: 8px;
  padding: 12px;
}
