'name': 'nako3'
'scopeName': 'source.nako3'
'fileTypes': [
  'nako3'
  'nako'
]
'patterns': [
  {
    'match': '([#＃][^\\n]*)'
    'name': 'punctuation.definition.comment.nako3'
  }
  {
    'match': '(/*.+?*/)'
    'name': 'punctuation.definition.comment.nako3'
  }
  {
    'match': '([1-9\.]+)'
    'name': 'constant.numeric.integer.nako3'
  }
  {
    'match': '(0x[0-9]+)'
    'name': 'constant.numeric.hex.nako3'
  }
  {
    'match': '(「.*?」)'
    'name': 'constant.string.nako3'
  }
  {
    'match': '(『.*?』)'
    'name': 'constant.string.nako3'
  }
  {
    'match': '(?:[＋ー×÷（）\\(\\)＆\\-\\*&<>=+!])'
    'name': 'keyword.operator.nako3'
  }
  {
    'match': '(もし|ならば|なら|違えば|回|繰り返す|ならば|ここまで|ここから|←|→|反復|エラー監視|それ|そう|●)'
    'name': 'keyword.control.nako3'
  }
  {
    'match': '(について|くらい|なのか|までを|とは|までの|から|まで|だけ|より|ほど|など|いて|えて|きて|けて|して|って|にて|みて|めて|ねて|では|は|を|に|へ|で|と|が|の)'
    'name': 'punctuation.definition.comment.josi.nako3'
  }
]
