{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 1 version",
            "last 2 Safari versions",
            "last 2 iOS versions"
          ]
        }
      }
    ]
  ]
}
