# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x, 22.x, 18.x]

    steps:
      - name: Checkout submodule
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
    
      # 各種ライブラリをインストール
      - name: npm install
        run: npm install
      
      # 各種ビルド
      - name: npm run build
        run: npm run build
        
      # hello
      - name: npm run hello
        run: npm run hello
      
      # run test
      - name: npm run test
        run: npm run test

