# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

# (memo)
# GitHubで頻繁にブラウザテストが失敗するので
# コミット時のテストを簡易化しています。
# ただし、リリース前には必ず全テスト実行するように
# publish用のスクリプトを追加してミスを防ぎます。 
# [詳細] https://github.com/kujirahand/nadesiko3/issues/1037

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 14.x, 12.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.SUBMODULE_TOKEN }}
          submodules: recursive
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      # checkout すれば動く機能を試す
      - run: npm run hello
      # 各種ライブラリをインストール
      - run: npm install
      # 各種ビルドしてテストする
      - run: npm run build
      - run: npm run test

